* {
  box-sizing: border-box;
}

html,
body {
  background-color: white;
  margin: 0px;
  padding: 0px;
  border: none;
}

a {
  text-decoration: none;
  transition: transform 0.2s;
}

a:active,
a:hover {
  border-color: #1eaedb !important;
}

a:visited {
  color: #1eaedb !important;
}

ul,
ol {
  margin-left: 2rem;
}

form input[type='email'] {
  width: 100%;
  max-width: 220px;
}

.header {
  margin-top: 2rem;
}

.header h1 .fa-home {
  font-size: 22px;
  display: inline-block;
}

@media (max-width: 415px) {
  .header h1 .fa-home {
    display: none;
  }
}

.navbar {
  margin-bottom: 2rem;
}

.navbar + .docs-section {
  border-top-width: 0;
}

.navbar,
.navbar-spacer {
  display: block;
  width: 100%;
  padding: 20px 0px;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.navbar-spacer {
  display: none;
}

.navbar > .container {
  width: 100%;
}

.navbar-list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.navbar-item {
  position: relative;
  flex: 1 126px auto;
  text-align: center;
  margin: 10px;
}

.navbar-link {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-decoration: none;
  flex: 1;
}

.navbar-link.active {
  color: #33c3f0;
}

.has-docked-nav .navbar {
  position: fixed;
  top: 0;
  left: 0;
}

.has-docked-nav .navbar-spacer {
  display: block;
}

.has-docked-nav .navbar > .container {
  width: 80%;
}

.content-contact ul {
  list-style: none;
}

.content-contact .news-letter {
  background: #fff;
  padding: 0 20px;
  display: inline-block;
}

.about {
  display: flex !important;
  align-items: flex-start;
  align-content: flex-start;
}

@media (max-width: 755px) {
  .about {
    flex-direction: column-reverse;
  }
}

.about-copy {
  flex: 0 1 auto !important;
  align-self: start;
}

.about .icon-avatar {
  align-self: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  flex: 0 0 auto;
}

.content-direct ol {
  display: block;
}

.fa-disabled,
.fa-disabled:hover,
.fa-disabled:active {
  color: #aaa;
}

@media (max-width: 1010px) {
  .content-item.product {
    padding: 0 !important;
  }
}
